* {
    font-family: EB Garamond;
}

body {
    background-color: DodgerBlue;
}

.flex-box {
    display: flex;
    background-color: DodgerBlue;
    height: 100%;
}

.flex-box > div.login-box {
    background-color: #f1f1f1;
    width: 22%;
    height: 55%;
    margin: auto;
    box-shadow: 0 0 5px 5px #888888;
}

div.picture-box ~ p {
    text-align: center;
}

div.picture-box + h1 {
    text-align: center;
}

div.login-box p.link {
    text-align: center;
}

#login-picture {
    width: 70px;
    height: 70px;
}

div.picture-box {
    padding-left: 10px;
    padding-top: 10px;
    width: 70px;
}

p > a:hover {
    text-decoration: underline;
}

p > a {
    color: blue;
    text-decoration: none;
}

p > a:visited {
    color: purple;
}

a {
    text-decoration: none;
}

input[type=text] {
    display: block;
    padding: 9px 15px;
    margin: auto;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=password] {
    display: block;
    padding: 9px 15px;
    margin: 8px auto;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

div.login-container {
    display: block;
    margin: auto;
    width: 20%;
}

input[type=submit] {
    font-size: 15px;
    background-color: #659BDF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}

input[type=submit]:hover {
    background-color: #416ea6;
    padding: 9px 19px;
}